body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#app-root {
  height: 100%;
  width: 100%;
}

.main-content {
  grid-area: main;
  background: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.table-container {
  flex: 1;
  overflow: auto;
  min-height: 0;
}
